@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*******mantatory css********/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
/*******mantatory css********/

/**********header start**********/
header{}
header .navbar .edasi{
    font-size: 37px;
    font-weight: 600;
    color: #000;
}
header .navbar .navbar-nav .nav-item .nav-link{
	font-size: 20px;
	font-weight: 500;
	color: #000;
	padding: 10px 20px;
	display: inline-block;
	transition-duration: 0.3s;
	border-radius: 10px;
}
header .navbar .navbar-nav .nav-item .nav-link:hover{	
	background: #000;	
	color: #fff;
}
/**********header end**********/

/**********banner-section start**********/
.banner-section{
	background: url(../images/img001.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	padding: 250px 0px;
}
.banner-section .banner-content{
    background: #ffffff75;
    /* padding: 104px 0px !important; */
}
.banner-section .banner-content h1{
    font-size: 30px;
    font-weight: 700;
}
.banner-section .banner-content h3{
    font-size: 18px;
    color: #000;
}
.banner-section .banner-content h2{
    font-size: 30px;
    font-weight: 700;
}
.banner-section .banner-content h2 span{}
.banner-section .banner-content a{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    background: #000;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
/**********banner-section end**********/

/**********text-area-section start**********/
.text-area-section{}
.text-area-section h2{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.text-area-section strong{
    background: #000;
    height: 1px;
    width: 100%;
    display: block;
    margin: auto;
}
/**********text-area-section end**********/


/**********service-sectionn start**********/
.service-section{}
.service-section .inner-service{}
.service-section .inner-service img{}
.service-section .inner-service h1{
    font-size: 25px;
    font-weight: 400;
    color: #000;
}
.service-section .inner-service span{
    background: #e00000;
    height: 2px;
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.service-section .inner-service h3{
    font-size: 19px;
    font-weight: 400;
}
/**********service-section end**********/

/**********features-section start**********/
.features-section{}
.features-section .inner-features img{}
.features-section .inner-features h1{}
.features-section .inner-features h2{
    font-size: 25px;
    font-weight: 300;
}
.features-section .inner-features i{
    padding-right: 10px;
}
/**********features-section end**********/

/**********footer start**********/
footer{}
footer .inner-text{}
footer .inner-text h1{
    font-size: 40px;
    font-weight: 600;
}
footer .inner-text h4{
    font-size: 20px;
    color: #000000b5;
}
footer .inner-text a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background: #000;
    padding: 10px 15px;
    border-radius: 5px;
}
/**********footer end**********/

/*******bootstrap class start**********/
.navbar-dark .navbar-brand:hover{
	color: #000;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
.navbar-dark .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    filter: invert(1);
}
/*******bootstrap class end**********/
